.row{
    justify-self: end;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 147px;
    background-color: white;
}
.column{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
.cell{
    color: #1e272e;
    border: 1px solid #1e272e;
    margin: 1px;
    font-family: 'muli';
}
.disabled,
.dis-selected{
    color: #808e9b;
}
.calendar .cellsdiv .cell {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: #d2dae2;
    transition: 0.25s ease-out;
    display: grid;
}
.calendar .cellsdiv .selected,
.calendar .cellsdiv .cell:active {
    background-color: #1e272e;
    flex-grow: 2.79;
    transition: 0.5s ease-out;
}
.calendar .cellsdiv .dis-selected,
.calendar .cellsdiv .dis-selected:active,
.calendar .cellsdiv .disabled:active {
    background-color: #808e9b;
    flex-grow: 2.79;
    transition: 0.5s ease-out;
}
.calendar .cellsdiv .current{
    background-color: #1e272e;
    transition: 0.5s ease-out;
}
.calendar .cellsdiv .cell:active .number,
.calendar .cellsdiv .selected .number,
.calendar .cellsdiv .dis-selected .number,
.calendar .cellsdiv .current .number{
    visibility: hidden;
}
.calendar .cellsdiv .cell .number{
    justify-self: end;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-right: 4px;
    font-weight: bold;
    font-size: 14px;
}
.calendar .cellsdiv .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: #d2dae2;
    opacity: 0;
    font-size: 48px;
    transition: 0.25s ease-out;
    margin-right: 4px;
    justify-self: end;
    grid-row: 1/2;
    grid-column: 1/2;
}
.calendar .cellsdiv .cell:active .bg,
.calendar .cellsdiv .selected .bg,
.calendar .cellsdiv .current .bg  {
    margin-right: 10px;
    margin-top: 4px;
    opacity: 1;
    transition: 0.5s ease-in;
    animation: neon .08s ease-in-out infinite alternate;
}
.calendar .cellsdiv .disabled:active .bg,
.calendar .cellsdiv .dis-selected .bg,
.calendar .cellsdiv .dis-selected:active .bg {
    margin-right: 10px;
    margin-top: 4px;
    opacity: 1;
    transition: 0.5s ease-in;
    animation: neon-dis .08s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(239, 87, 119,0.52),
    0 0 21px rgba(239, 87, 119,0.92),
    0 0 34px rgba(239, 87, 119,0.78),
    0 0 54px rgba(239, 87, 119,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(239, 87, 119,0.58),
    0 0 22px rgba(239, 87, 119,0.84),
    0 0 38px rgba(239, 87, 119,0.88),
    0 0 60px rgba(239, 87, 119,1);
  }
}
@keyframes neon-dis {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30, 39, 46,0.52),
    0 0 21px rgba(30, 39, 46,0.92),
    0 0 34px rgba(30, 39, 46,0.78),
    0 0 54px rgba(30, 39, 46,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30, 39, 46,0.58),
    0 0 22px rgba(30, 39, 46,0.84),
    0 0 38px rgba(30, 39, 46,0.88),
    0 0 60px rgba(30, 39, 46,1);
  }
}
.mapdiv{
    grid-row: 1/3;
    grid-column: 1/3;
    margin-top: 434px;
    margin-right: 1px;
    box-shadow: 0px 0px 20px #1e272e;
    width: 815px;
    height: 470px;
    justify-self: end;
    z-index: 100;
    background-color: #1e272e;
    display: grid;
}
#map{
    align-self: center;
    justify-self: center;
    width: 98%;
}
.eventwrap{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    z-index: 1;
}
.event{
    margin: 1px;
    overflow: hidden;
    height: 20px;
    border: 1px solid #d2dae2;
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
    display: grid;
    align-items: center;
    justify-content: center;
}
#EventTypeOne{
    background-color: #7efff5;
}
#EventTypeTwo{
    background-color: #32ff7e;
}
#EventTypeThree{
    background-color: #ffcccc;
}
#EventTypeFour{
    background-color: #cd84f1;
}
.closurewrap{
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 22px 22px auto;
    grid-template-columns: 20px auto;
    z-index: 1;
}
.closure{
    margin: 1px;
    overflow: hidden;
    height: 14px;
    width: 14px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #d2dae2;
    padding: 2px;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-out;
}
#ClosureTypeOne{
    background-color: #ff4d4d;
    color: #ff4d4d;
    grid-column: 2/3;
}
#ClosureTypeTwo{
    background-color: #7d5fff;
    color: #7d5fff;
    grid-column: 2/3;
}
#ClosureTypeThree{
    background-color: #ffaf40;
    color: #ffaf40;
    grid-column: 2/3;
}
#Holiday{
    background-color: #f7f1e3;
    margin: 0px;
    height: auto;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    grid-row: 1/4;
    grid-column: 1/2;
}
.calendar .cellsdiv .selected #ClosureTypeOne,
.calendar .cellsdiv .selected #ClosureTypeTwo,
.calendar .cellsdiv .cell:active #ClosureTypeOne,
.calendar .cellsdiv .cell:active #ClosureTypeTwo {
    color: #f7f1e3;
    width: 220px;
}
.calendar .cellsdiv .dis-selected #ClosureTypeOne,
.calendar .cellsdiv .dis-selected #ClosureTypeTwo,
.calendar .cellsdiv .disabled:active #ClosureTypeOne,
.calendar .cellsdiv .disabled:active #ClosureTypeTwo {
    color: #d2dae2;
    width: 220px;
}
.calendar .cellsdiv .selected #ClosureTypeThree,
.calendar .cellsdiv .dis-selected #ClosureTypeThree,
.calendar .cellsdiv .cell:active #ClosureTypeThree,
.calendar .cellsdiv .disabled:active #ClosureTypeThree {
    color: #1e272e;
    width: 220px;
}